SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='TRADITIONAL,ALLOW_INVALID_DATES';




CREATE  TABLE IF NOT EXISTS `User` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Username` VARCHAR(45) NOT NULL ,
  `Password` VARCHAR(20) NOT NULL ,
  `Type` VARCHAR(45) NOT NULL ,
  `Point` INT NOT NULL ,
  PRIMARY KEY (`ID`) ,
  UNIQUE INDEX `Username_UNIQUE` (`Username` ASC) )
ENGINE = InnoDB;


CREATE  TABLE IF NOT EXISTS `Topic` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Description` VARCHAR(100) NULL ,
  `Parent_ID` BIGINT NULL ,
  `Level` INT NULL ,
  `Type` VARCHAR(45) NOT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Topic_Topic1_idx` (`Parent_ID` ASC) ,
  CONSTRAINT `fk_Topic_Topic1`
    FOREIGN KEY (`Parent_ID` )
    REFERENCES `Topic` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;

CREATE  TABLE IF NOT EXISTS `Multimedia` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Description` VARCHAR(500) NULL ,
  `Type` VARCHAR(45) NULL ,
  PRIMARY KEY (`ID`) )
ENGINE = InnoDB;



CREATE  TABLE IF NOT EXISTS `Question` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Description` VARCHAR(500) NOT NULL ,
  `Answer_C` VARCHAR(300) NULL ,
  `Answer_W1` VARCHAR(300) NULL ,
  `Answer_W2` VARCHAR(300) NULL ,
  `Answer_W3` VARCHAR(300) NULL ,
  `Ranking` INT NOT NULL ,
  `Topic_ID` BIGINT NOT NULL ,
  `Multimedia_ID` BIGINT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Question_Topic1_idx` (`Topic_ID` ASC) ,
  INDEX `fk_Question_Multimedia1_idx` (`Multimedia_ID` ASC) ,
  CONSTRAINT `fk_Question_Topic1`
    FOREIGN KEY (`Topic_ID` )
    REFERENCES `Topic` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Question_Multimedia1`
    FOREIGN KEY (`Multimedia_ID` )
    REFERENCES `Multimedia` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


CREATE  TABLE IF NOT EXISTS `Token` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `Code` VARCHAR(45) NOT NULL ,
  `Description` VARCHAR(500) NULL ,
  `Status` VARCHAR(45) NULL ,
  `NumberQuestion` INT NOT NULL ,
  `User_ID` BIGINT NULL ,
  `Topic_ID` BIGINT NOT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Token_User1_idx` (`User_ID` ASC) ,
  INDEX `fk_Token_Topic1_idx` (`Topic_ID` ASC) ,
  CONSTRAINT `fk_Token_User1`
    FOREIGN KEY (`User_ID` )
    REFERENCES `User` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Token_Topic1`
    FOREIGN KEY (`Topic_ID` )
    REFERENCES `Topic` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;



CREATE  TABLE IF NOT EXISTS `Point_History` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `DateTime` DATETIME NOT NULL ,
  `PointEarned` INT NULL ,
  `PointUsed` INT NULL ,
  `User_ID` BIGINT NOT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Point_History_User1_idx` (`User_ID` ASC) ,
  CONSTRAINT `fk_Point_History_User1`
    FOREIGN KEY (`User_ID` )
    REFERENCES `User` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;



CREATE  TABLE IF NOT EXISTS `Purchase` (
  `ID` BIGINT NOT NULL AUTO_INCREMENT ,
  `DateTime` DATETIME NOT NULL ,
  `Description` VARCHAR(500) NULL ,
  `User_ID` BIGINT NOT NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Purchase_User1_idx` (`User_ID` ASC) ,
  CONSTRAINT `fk_Purchase_User1`
    FOREIGN KEY (`User_ID` )
    REFERENCES `User` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;



CREATE  TABLE IF NOT EXISTS `Quiz` (
  `ID` BIGINT NOT NULL ,
  `User_ID` BIGINT NOT NULL ,
  `Topic_ID` BIGINT NOT NULL ,
  `Current_QuestionID` BIGINT NULL ,
  `QuestionList` VARCHAR(500) NULL ,
  PRIMARY KEY (`ID`) ,
  INDEX `fk_Quiz_User1_idx` (`User_ID` ASC) ,
  INDEX `fk_Quiz_Topic1_idx` (`Topic_ID` ASC) ,
  CONSTRAINT `fk_Quiz_User1`
    FOREIGN KEY (`User_ID` )
    REFERENCES `User` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Quiz_Topic1`
    FOREIGN KEY (`Topic_ID` )
    REFERENCES `Topic` (`ID` )
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;



INSERT INTO User
           (USERNAME
           ,PASSWORD
           ,TYPE
		   ,POINT)
Values		   
('admin1', 'admin1', 'admin',0),
('user1', 'user1', 'user1',100),
('user2', 'user2', 'user2',100);

INSERT INTO Token
           (TOPIC_ID
           ,USER_ID
           ,CODE
		   ,STATUS
		   ,DESCRIPTION
		   ,NUMBERQUESTION)
Values		   
(3, null, 'AAAA','','',20),
(11, null, 'BBBB','','',20);




 INSERT INTO Question
           (TOPIC_ID
           ,DESCRIPTION
           ,ANSWER_C
           ,ANSWER_W1
           ,ANSWER_W2
           ,ANSWER_W3
           ,RANKING
		   ,MULTIMEDIA_ID)
VALUES
 ( 15,'This flag belongs to which one of the following countries?','China','India','Canada','Australia',0,1)
 ,( 15,'Where is the quarter?','Under the right cup','Under the middle cup','Under the left cup','Under the table',0,2)
 ,( 15,'Who sings this song?','Taylor Swift','Dianna Agron','Kelleigh Bannen','Jeanne Black',0,3)
;